name: Docs

on:
  push:
    branches: [main]
    tags: ["**"]
  pull_request: {}

jobs:
  build-cpp-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ssciwr/doxygen-install@v1
        with:
          version: "1.13.2"
      - uses: astral-sh/setup-uv@v7
      - run: make docs
        working-directory: cpp
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: cpp
          path: ./cpp/build/docs/html
          if-no-files-found: error

  build-python-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: yarn
      - uses: astral-sh/setup-uv@v7
      - run: make -f Container.mk docs-python
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: python
          path: python/foxglove-sdk/python/docs/_build
          if-no-files-found: error

  deploy-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    needs: [build-cpp-docs, build-python-docs]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts
      - run: test -d artifacts/python
      - run: test -d artifacts/cpp
      - name: Create basic index.html
        run: |
          cat <<EOF > artifacts/index.html
            <ul>
              <li><a href="/python">Python API docs</a></li>
              <li><a href="/cpp">C++ API docs</a></li>
            </ul>
          EOF
      - name: Deploy to CF Pages
        uses: cloudflare/pages-action@v1.5.0
        # Run preview deploys on PRs (but not for forks or dependabot PRs, since we do not have
        # access to secrets in these environments). Only run production deploys on release tags, not
        # the main branch.
        if: |
          (
            github.event_name == 'pull_request' &&
            !github.event.pull_request.head.repo.fork &&
            github.actor != 'dependabot[bot]'
          ) ||
          startsWith(github.ref, 'refs/tags/sdk/v')
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          # For PRs, use the PR head branch name. Otherwise we are running on a release tag, so use
          # "main" to trigger a "production" deploy in CF pages.
          branch: ${{ github.head_ref || 'main' }}
          projectName: foxglove-sdk-api-docs
          directory: artifacts
